body {
   margin: 0;
   font-family: Arial, sans-serif;
}

.app {
   background-color: #f4f4f9;
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding: 20px 0;
}

.container {
   display: flex;
   gap: 20px;
   width: 90%;
   max-width: 1400px;
}